@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:wght@500&family=Tangerine:wght@700&display=swap');

html {
    height: 100%;
}

h1 {
    text-align: center;
    color: silver;
    background-color: #4F4846;
    padding: 30px;
    font-family: 'Poiret One';
}

body {
    height: 100%;
    text-align: center;
    background-image: linear-gradient(#E8CEBF,#DDAF94);
    
}