<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
    
<h1> Welcome to your personal online library! </h1>

<nav>
    <div class="main">
        <h2>Add your favorite books and keep track of what you read!</h2>
        <div class="box">
            <h3>Join the Club!</h2>
            <div class="forms">
                <a class="btn" href="/auth/signup">Sign Up</a>

                <a class="btn2" href="/auth/login">Log In</a>
            </div>
            <h3> You know what they say... "Reading is fundamental!"</h2>
        </div>
        <h2>"Reading is Dreaming with Eyes Wide Open"</h2>
    </div>
</nav>

</body>