<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Member Sign Up</title>
</head>
<body>
    <h1> New Member Sign Up</h1>
    <form action='/auth' method='POST'>
    Name: <input type = "text" name="name" /><br/>
    Create Username: <input type ="text" name="username" /><br>
    Create Password: <input type ="text" name="password" /><br>

    Favorite Genre: <input type ="text" name="genre" /><br>
    Favorite Author: <input type ="text" name="author" /><br>
    <input type="submit" name="" value="Start Reading"/>
    </form>
</body>
</html>